[user]
	name = Joachim Pileborg
	email = arrow@pileborg.org
[alias]
	br = branch
	st = status
	co = checkout
	cm = commit
[color]
	ui = true
	branch = true
	diff = true
	interactive = true
	status = true
