[user]
	name = Joachim Pileborg
	email = arrow@pileborg.org
[alias]
	br = branch
	st = status
	co = checkout
	cm = commit
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
